body{
    height:500
}

header{
    height: 400px;
}

header .text{
    text-align: center;
}

header img{
    display: block;
    margin: auto;
    width: 150px;
}

.header h1{
    font-size: 50px;
}

.header h2{
    font-size: 30px;
    margin-bottom: 80px;
    border-bottom: solid  #eee 5px;
}

line {
    stroke: red;
}

path {
    stroke: green;
    stroke-width: 3px;
    fill: none;
}

circle{
    stroke: none;
}

#root{
    width: 1000px;
    margin: auto;
}

.axis .domain{
    stroke: #000;
}

.tick text{
    stroke: none;
    fill: black;
}

.tick, .tick line{
    stroke: #000;
}

/* Graphs text */

text.chartTxt{
    text-anchor: middle;
    font-size: 40px;
    stroke: none;
}

.humidityTxt{
    fill: #f00;
}

.lightTxt{
    fill: #396902
}

.pressureTxt{
    fill:#001aff
}

.soundTxt{
    fill: #ff8800
}

.temperatureTxt{
    fill: #f200ff
}

#root{
    position: relative;
}

#hoverText{
    display: none;
    position: absolute;
    padding: 10px;
    background-color: #ffeabb;
    border-style: solid;
    border-width: 2px;
    border-color: #e3e3e3;
    border-radius: 5px;
}

#hoverText p{
    margin: 0;
    padding: 2px;
}


/* Graphs color */

#humidity circle{
    fill:#f00;
}

.humidity{
    stroke: #f00;
}

#light circle{
    fill:#396902;
}

.light{
    stroke: #396902;
}

.pressure1{
    stroke: #00eeff;
}

.press1 circle{
    fill: #00eeff;
}


.press2{
    stroke: #001aff;
}

.press2 circle{
    fill: #001aff;
}

#sound circle{
    fill: #ff8800;
}

.sound{
    stroke: #ff8800;
}

#temperature circle{
    fill: #f200ff;
}

.temperature{
    stroke: #f200ff;
}